* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}

.overlay {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

.side-nav {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 240px;
	height: 100%;
	background-color: #0663f6;
	transition: 0.4s ease;
	transform: translateX(-240px);
}

.side-nav .line {
	display: block;
	margin: 25px auto;
	width: 200px;
	height: 1px;
	background-color: white;
}

.side-nav a {
	display: block;
	text-decoration: none;
	font-weight: 700;
	color: white;
	font-size: 16px;
	margin: 25px 0 25px 25px;
}

.side-nav a:first-child {
	margin-top: 70px;
}

.header {
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.hamburger {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	cursor: pointer;
	padding: 8px;
}

.hamburger .line {
	display: block;
	width: 24px;
	height: 2px;
	background-color: #0663f6;
	margin: 2px 0;
}

.hamburger .line:last-child {
	width: 15px;
	align-self: flex-start;
}

.header h1 {
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	color: #0663f6;
}

.container {
	margin-top: 50px;
}

.container .title {
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.container .title img {
	width: 50px;
	margin-right: 10px;
}

.container .title h1 {
	color: #0663f6;
	font-size: 22px;
	line-height: 25px;
}

.content p {
	color: #323d4d;
	width: 85%;
	margin: 0 auto 60px auto;
	font-size: 16px;
}

.content p.nomargin {
	margin: 0 auto;
}

.content h1 {
	color: #0663f6;
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 10px;
}

.content ul {
	padding-left: 25px;
	margin-bottom: 80px;
	color: #323d4d;
	width: 85%;
	margin: 0 auto 60px auto;
	font-size: 16px;
}

.footer {
	padding: 24px;
	background-color: #0663f6;
}

.footer p {
	font-weight: 300;
	text-align: center;
	color: white;
	font-size: 12px;
}